.main-container {
  display:flex;
  /* background-color: aquamarine; */
  margin-top:10vh;
  justify-content: center;
  flex-direction: column;
  align-items: center; 
  gap:5vh;
}
/* .small-container {
  display: flex;
  gap:5px;
  margin:5px;
  height: 40px;
  width: auto;
  background-color: orange;
  
} */
.draw-container{
  display: flex;
  flex-wrap: wrap;
  height:500px;
  width:500px;
  border:5px ridge rgb(37, 37, 37);
 
  
  background-color: white;
}
.number-size{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  border: 1px solid black;
}
